[2015-01-19 02:49] huoxito opened #2 "Undefined method `state' for #<Post not initialized> error"
Been trying to make [spree run with this project](https://github.com/huoxito/state_machines-activerecord/commit/0b1ad2091ea101555f8c454d26ff272cafcbbc84) and noticed that every time I point the Gemfile to git or the gem release I get an error like this `Undefined method 'state' for #<Post not initialized>` (tested on a bran new rails project as well). Whenever I point to the code using `path` (loc

[2015-01-20 06:29] huoxito commented on #2
@seuros I think it is missing this [piece from the old gem](https://github.com/spree-contrib/state_machine/blob/00822c4b6d3df347087ef80e34a028f19325b342/lib/state_machine/integrations.rb#L116-119). It needs to make sure that ActiveModel is the last item on the `integrations` list. Or it needs to change the way the [Integration class is fetched](https://github.com/state-machines/state_machines/blob

[2015-01-20 12:08] seuros commented on #2
I will fix this.

[2015-01-21 12:06] seuros commented on #2
@huoxito could you try again. I pushed some fixes.

btw : ```2 failures, 4 errors, 0 skips ``` :smile_cat:

[2015-01-21 14:46] xxswingxx opened #4 "Default transition action"
Hi!
Is it intended not to set `save` as the default action in a transition or is something you are considering to add in the future?

[2015-01-21 15:34] huoxito commented on #2
thanks @seuros, the `reverse` you did on state_machines had it fixed, personally I'd prefer checking explicitly for "ActiveModel" and putting it last on the list just to make sure it doesn't get back at us again. Either way all cool now both using github and local path. cheers

[2015-01-21 15:34] #2 closed

[2015-01-21 15:37] seuros commented on #2
I reversed that change since it was placing AM at the top .
I fixed it with https://github.com/state-machines/state_machines/commit/413182d249c25b32c918a21b6b3c80f6350d9b67.

[2015-01-21 15:41] seuros commented on #2
I agreed with you, we need to find a way to place integrations after their dependency.
 We could remove the autoregister of namespaced integrations and register them manually with ```Integrations#register```.
Let me know when you want a release in Rubygems, the gem is stable enough to be tested.

[2015-01-21 17:16] seuros commented on #4
@xxswingxx You can overwrite the default action with the `action` options

[2015-01-22 10:55] xxswingxx commented on #4
You mean by modifying this hash?

[code]

Weird thing is that it returns `{ :action => :save}` by default but as far as I have tested the record is not being saved.

[2015-01-22 11:02] seuros commented on #4
[code]

[2015-01-22 11:06] xxswingxx commented on #4
Thanks!

[2015-01-22 11:17] seuros commented on #4
If that resolve your issue, please close this issue. :smiley_cat:

[2015-01-22 11:17] xxswingxx commented on #4
:+1:

[2015-01-22 11:17] #4 closed

[2015-01-29 07:13] huoxito commented on #2
@seuros actually I'm still seeing a ton of errors related to this on spree build, could we have a more explicit version of that method (just like the original gem had)? e.g.

[code]

btw this is pretty hard for me to debug and figure out whats going on suggest a solution

Also I dont understand the change in https://github.com/state-machines/state_machines/commit/413182d249c25b32c918a21b6b3c80f635

[2015-01-30 21:50] kakoni opened #6 "Autosaving a record fails on Rails 4.2"
Simple model looks like this (has status:string column)
[code]
Trying to change a state, expecting database update
[code]
But nothing gets updated.

[2015-01-30 22:22] seuros commented on #6
Could you please tell the version of AR ?

[2015-01-30 22:50] kakoni commented on #6
* activerecord (4.2.0)

[code]

[2015-01-30 22:52] seuros commented on #6
this is the expected behavior.

[2015-01-30 23:08] kakoni commented on #6
Oh my, of course it is. I was describing it wrong so take two;
[code]
It should persist at submit, right?

[2015-01-31 07:10] seuros commented on #6
right :bug:

[2015-02-01 10:04] KindleL opened #7 "Can I use state_machines-activerecord to replace state_machine"
I was using state_machine (1.2.0), can I use state_machines-activerecord to replace state_machine with nothing of my code changed?

[2015-02-01 18:27] seuros commented on #7
@KindleL yes. Just switch gems and run your test suite.
Report any bug please.

Thanks you

[2015-02-02 07:36] KindleL commented on #7
@seuros OK.

Thanks for all your great job.

[2015-02-04 17:45] titzi commented on #7
Great, but is there a reason why this gem cannot be installed using JRuby?

[2015-02-04 17:52] seuros commented on #7
@titzi, what version of jruby are you using ?
jruby-9.0.0.0 works fine

[2015-02-04 17:58] titzi commented on #7
the latest stable release 1.7.19

[2015-02-04 17:58] titzi commented on #7
JRuby 9000 is still in pre

[2015-02-04 18:05] seuros commented on #7
I see, we will have to change the ruby requirement to 1.9.3+ for the 3 gems until the 9000 is released.

[2015-02-04 18:07] titzi commented on #7
Thank you!

[2015-02-04 18:10] titzi commented on #7
I'm currently updating a project from Rails 4.1.9 to 4.2 and this is the last thing I need :)

[2015-02-04 18:13] seuros commented on #7
I will do that now then.

[2015-02-04 18:25] seuros commented on #7
done

[2015-02-04 18:34] titzi commented on #7
Works! The bundler ran successfully. Thank you!

[2015-02-04 19:19] #7 closed

[2015-02-24 18:33] stlewis opened #8 "Accessing scopes"
I've switched my Rails 4.1 project from the unmaintained state_machine gem to this one without making any other code changes. I have a model in my application called Order.  It's initial state is 'submitted'.  Upon calling the following:

`Order.submitted`

I'm getting the following error:

`NoMethodError: undefined method `call' for #<Order::ActiveRecord_Relation:0x007ff6b39b8168>`

In general, t

[2015-02-24 18:34] seuros commented on #8
Could you provide a sample app that reproduce this bug ?

[2015-02-24 19:28] stlewis commented on #8
I don't have a running app I can share right now, sorry... -- but I've been poking around in the gem code, and saw this:

[code]

This appears to be where the magic should happen.  If we dive a little deeper to look at that create_scope method:

[code]

I'm tinkering with this myself and will let you know what I come up with but...some questions:

You're passing a name and a lambda to `create_scop

[2015-02-24 22:00] mrclmrvn commented on #8
As with the original state-machine gem, it automatically creates scope like this:

`Order.with_state('submitted')`

And not:

`Order.submitted`

(Or maybe I missed that somewhere.)

So you have to replace with the `Order.with_state('submitted')`. Optionally, in my case, I used a different column in place of `state`, I used `status`. And access the scope via `Order.with_status('submitted')`.

HTH

[2015-02-24 22:09] stlewis commented on #8
@mrclmrvn Right, the `with_state` stuff works, and I'm doing what you're doing -- using `status` instead of `state`.  With that said, as far as I was aware, the ability to scope by state value is something that I always thought was built in?  I'm scouring my code on the chance that I had something custom built in here at some point, but I'm not finding it...

[2015-02-24 22:57] seuros commented on #8
@stlewis check your gemlock, if the old gem is loaded (required by a gem), it could be conflict with the current on. Also grep for StateMachine module, the new gem use StateMachines (extra s)

[2015-02-24 23:07] stlewis commented on #8
@mrclmrvn @seuros

I figured it out, (in a manner of speaking).  My code _was_ in fact doing some extra magic to get the `Model.state_name` style scope.  With that said, if this _isn't_ a feature, it kind of seems like it should be?   The solution in my code looks something like this:

[code]

Super simple, but a nice little convenience.  I'd be happy to toss in a PR with the feature at some point

[2015-02-24 23:11] seuros commented on #8
Hmm, i'm not fan of this feature. What if i have 2 state machines in the same model with the name ?
what if a state is a reserved word (like valid).

[2015-02-24 23:14] mrclmrvn commented on #8
Too magical for me vs `with_foo('bar')`, +1 @seuros' comment.

And should be easy to implement scope in your model.

[2015-02-24 23:20] stlewis commented on #8
Fair points all...which actually makes me think I should consider refactoring away this application's rampant use of that style of magic.  Thanks for the help guys! As far as I'm concerned, we can close this out.

[2015-02-24 23:22] seuros commented on #8
:+1:

[2015-02-24 23:22] #8 closed

[2015-02-27 03:54] danielricecodes opened #9 "Rails 4.0 support?"
Hello,

Quick question: Do the gem authors know if this gem will work with Rails 4.0?  Is there a reason AR 4.1 is the lowest AR version?

I'm currently supporting a Rails 4.0 application, and I don't want to upgrade the application to Rails 4.1 just to try out this gem. I'd rather see if this gem could work with Rails 4.0 first.  Its also a bummer that the old state_machine gem doesn't support Ra

[2015-02-27 04:22] huoxito commented on #9
@danielricecodes actually I think the original state_machine gem does support rails 4.0, or at least most of it. Spree for example is a heavy user and run just fine on the old project and rails 4.0. Are you getting any specific errors?

[2015-02-27 06:06] seuros commented on #9
That right, the original gem support 4.0, it has some bugs that were fixed in my fork for example.

[2015-02-27 14:18] danielricecodes commented on #9
@seuros - no not any specific issues, but since the README stated AR 4.1+ as a dependency, I thought I'd fork the activerecord and activemodel adapters, change the gemspec, and test in my application.

I did a code review of the `state_machine` gem itself and couldn't find a Rails 4 support statement in the Readme or any code or Railties that made it obvious.  When I reviewed the code, I saw that

[2015-02-27 15:49] seuros commented on #9
No no, i don't want to add support for unsupported version of rails/rubies, that was actually killed the old gem.
You can use https://github.com/seuros/state_machine , it support 4.0 and was used for years in many projects without any issue.

[2015-03-04 16:25] adambrod commented on #6
I've tested this in my app, and I can't reproduce this bug.  Was this bug fixed in the latest version, or is there an edge case I should be worried about before replacing state_machine with state_machines-activerecord in production?

[2015-03-04 16:29] adambrod commented on #6
I've tested this in my app (activerecord 4.2.0) and I can't reproduce this bug.  Is it possible this bug was fixed already?  Or is there an edgecase I should be worried about?  I'm planning to replace state_machine with state_machines-activerecord in production, but this bug makes me nervous that this gem isn't compatible with state_machine.

[2015-03-04 18:12] seuros commented on #6
This bug was fixed.

[2015-03-04 18:12] #6 closed

[2015-03-17 18:25] pragmaticivan opened #10 "After trigger event"
I'm getting this warning after trigger an state machine event:

[code]

[2015-03-25 15:10] rosskevin opened #11 "Scopes are not being created in activerecord 4.1.9"
When debugging [scope creation](https://github.com/state-machines/state_machines/blob/master/lib/state_machines/machine.rb#L2115), it appears that the #define_helper method is never called.

Here's the snippet from the link above:

[code]

The `send` in debug mode equates to:

[code]

This hits the [no-op #create_without_scope](https://github.com/state-machines/state_machines/blob/master/lib/state

[2015-03-25 15:29] rosskevin commented on #11
@seuros this is a show stopper for me.  I'm happy to dig in and fix it but need to be pointed in the right direction.  Perhaps a usage error, or documentation needs updated?

I've traced it back further to [`Integrations`](https://github.com/state-machines/state_machines/blob/master/lib/state_machines/integrations.rb#L79).  `@integrations` is an empty array so I'm assuming that I've misconfigured

[2015-03-25 15:32] seuros commented on #11
Thank you for your input.

`#register` is in fact used in the integrations, for example : https://github.com/state-machines/state_machines-activerecord/blob/master/lib/state_machines/integrations/active_record.rb#L562

[2015-03-25 15:33] rosskevin commented on #11
@seuros  Found it! Simple problem but I think the readme needs updated:

[code]
I didn't require it anywhere and expected auto-detection.

[2015-03-25 15:35] seuros commented on #11
Bundler should require them by default.
Else you can require just 'state_machines-activerecord'

[2015-03-25 15:36] rosskevin commented on #11
This may be due to the fact that these models are in a rails Engine.

[2015-03-25 15:37] seuros commented on #11
If state_machines-activerecord is part of your Gemfile, it should work.

[2015-03-25 15:38] rosskevin commented on #11
They are in the gemspec, but weren't required by default:

[code]

[2015-03-25 15:40] seuros commented on #11
I'm facing this exact issue in one of my project (with anothe gems), maybe it a bug in rails.

PS, you don't need to add state_machines as dependency too, state_machines-activerecord depend on state_machines-activemodel and state_machines.

[2015-03-25 15:40] rosskevin commented on #11
Got it, thank you for the quick assistance.

[2015-03-25 15:40] #11 closed

[2015-03-25 21:22] renchap opened #13 "enum support"
In an existing model, my state column is a Rails enum and using state_machine on this column generates some warnings (and probably does not work) :

[code]

I am migrating from aasm and this is a nice feature I miss.

[2015-04-06 20:21] aripollak opened #14 "Default translations not used"
The docs for this gem say that default :en translations are set, but apparently they are not used in Rails 4.2.1. In a freshly generated Rails project with this gem added, inside a `rails console`:

[code]

[2015-04-16 14:54] jshow opened #15 "multiple machines per model ?"
Greetings,

I'm looking for an implementation that supports multiple fsm.

The originating project advertised multiple state machines per object - the current docs don't explicitly say this is the case.

thanks.
Jodi

[2015-04-16 14:58] seuros commented on #15
It is the case :smile_cat: .

[2015-04-16 15:02] jshow commented on #15
fantastic - I will see if I can figure it out, and may recommend a documentation change

cheers @seuros  (-:

[2015-04-16 15:02] #15 closed

[2015-04-16 15:06] seuros commented on #15
[code]

[2015-04-16 15:10] jshow commented on #15
:+1: :boom: !

[2015-04-24 15:17] rosskevin opened #16 "use_transactions: false not respected in execution"
I should note that I am debugging this in a `before_transition`.

I'm not sure what is going on yet, but I can see that the [machine.rb#within_transaction](https://github.com/state-machines/state_machines/blob/master/lib/state_machines/machine.rb#L1862) is not run (which seems to evaluate this flag).   With the active record integration, it runs the transaction every time.  I'm not sure if it is o

[2015-04-24 15:25] rosskevin commented on #16
[`#around_save`](https://github.com/state-machines/state_machines-activerecord/blob/master/lib/state_machines/integrations/active_record.rb#L509) appears to be the culprit.  No check for the flag, just use the transaction.  It may not be checking for the flag because there could be one or more state_machines in this block:

[code]

[2015-04-24 15:31] rosskevin commented on #16
The mongoid integration [`#around_save`](https://github.com/state-machines/state_machines-mongoid/blob/master/lib/state_machines/integrations/mongoid.rb#L376) is simpler, wondering if it indicates that the `active_record#around_save` is coded incorrectly?

[code]

[2015-04-24 15:32] rosskevin commented on #16
I'll try to get back to this in a few hours.  @seuros if you could give me your opinion on what I've found, I'll pick it back up and create a pull request.

[2015-04-24 20:07] rosskevin commented on #16
So who is responsible for interpreting the transaction option?  StateMachine or TransitionCollection?

TransitionCollection appears to get into the interpreting of transactions and even has an [errant hack](https://github.com/state-machines/state_machines/blob/master/lib/state_machines/transition_collection.rb#L181) that picks the first state_machine and uses transactions (problem 1), but only if

[2015-04-24 21:48] rosskevin commented on #16
I'm working on the pull's now, it was a bit simpler than I thought, but should cure the inconsistencies mentioned.

[2015-04-26 23:52] rosskevin commented on #16
This is solved with the two pull requests, see #17 for details.

@seuros if there is anything you see wrong, please let me know.

[2015-05-17 09:42] JohnSmall opened #21 "Observers aren't working"
I replaced my existing statemachine gem with this one so I could move up to Rails 4.2 and found that my observers aren't getting triggered.

Did that code get left behind? The documentation suggests that it should work with observers, but that's just been copied across from the old state_machine gem.

Where do I need to look in the code to fix this?

[2015-05-17 10:09] seuros commented on #21
For some reason i forgot to update https://github.com/state-machines/state_machines-activemodel-observers

[2015-05-17 16:54] seuros commented on #21
@JohnSmall can you add that gem and try again ?

[2015-05-19 02:17] jcohenho opened #22 "assigning state_event overrides the state no matter what in Rails 4.2"
This might be a related issue: https://github.com/pluginaweek/state_machine/issues/327
Here I have a ```Car``` class:
[code]
[code]

The last command will successfully save the car and update the state attribute to ```:turn_right```, even though it should fail and return false, since a car cannot move from it's initial ```:parked``` state to ``` :moving_right ```.
If I run:
[code]
I will get the `

[2015-05-19 03:15] #22 closed

[2015-05-19 03:16] jcohenho commented on #22
closed because Rails 4 upgrade fail. I had to add attr_accessible to :state_event.

[2015-05-21 02:00] fredngo opened #23 "Rubygem release?"
Now that the state_machines gem has been updated to 0.3.0, any chance for a new release of state_machines-activerecord also?

[2015-05-24 21:35] evolve2k commented on #9
"Feel free to close this issue. I'll open up a PR later if I run into any issues :smile:"

(Just helping out.)  Op happy that this is resolved, this issue can be closed.

[2015-05-24 21:58] #9 closed

[2015-05-24 21:59] seuros commented on #9
@evolve2k  Thank you

[2015-05-31 20:47] nj commented on #23
+1 !

[2015-05-31 20:55] seuros commented on #23
The build is red.

[2015-06-17 22:39] arches opened #27 "get value for state name?"
I have a bunch of states defined with custom values.  How can I retrieve the value for a given state?  Thanks!

[2015-06-19 17:46] rosskevin commented on #23
@seuros we should be clear for a release now.

[2015-06-19 17:46] #16 closed

[2015-06-19 17:48] rosskevin commented on #14
@aripollak if you could submit a test, that would be most helpful. I'm on rails 4.2.1 and don't have a problem.  Are you still seeing it?

[2015-06-19 17:55] rosskevin commented on #13
@renchap this is probably a problem for the parent project [state_machines](https://github.com/state-machines/state_machines/issues).

I think you need to simple remove your `enum` declaration, because state_machines is trying to generate the same methods.

state_machine requires a string `state` column (you use a different column) and it generates similar methods that you might be expecting from

[2015-06-19 17:58] rosskevin commented on #10
@pragmaticivan is there a stack trace that leads you to this gem causing it?  `serialized_attributes` doesn't appear to occur in this codebase or that of the parent project.  It may be that this is in your codebase and because of callbacks, it looks like it is coming from state_machines?

[2015-06-19 18:02] rosskevin commented on #27
@arches can you give me a better description?  Also, unless this is related to the activerecord integration, this might be better asked in the parent project, https://github.com/state-machines/state_machines/issues

In the parent project readme, it shows (and I use it this way):

[code]

[2015-06-19 18:12] arches commented on #27
My setup:
[code]

My goal is to turn `:parked` back into `0`, for example:
[code]

(Sorry to ask in the wrong place, I got here from https://github.com/pluginaweek/state_machine/issues/343)

[2015-06-19 18:36] rosskevin commented on #27
I'm not sure, but I'm curious to know as well. @renchap in #13 might be interested too.  I'd definitely close this one and ask in the parent, might get more help.  Also, thanks for the note about where you came from, I asked @styxx to make an update to the link.

[2015-06-19 18:44] arches commented on #27
ok, thanks @rosskevin!  moved to https://github.com/state-machines/state_machines/issues/22

[2015-06-19 18:44] #27 closed

[2015-06-19 20:09] aripollak commented on #14
Very strange, I'm not seeing a problem anymore, even though I don't see any changes about it. I guess I must have led myself down the wrong path to where the problem was!

[2015-06-19 20:09] #14 closed

[2015-06-19 20:27] aripollak commented on #14
Oh, the problem was due to me defining an I18n exception handler in the test environment that raised exceptions on a missing translation instead of catching it like normal. It didn't work with the `default` option correctly, which hadn't been a problem until using this particular gem.

[2015-06-20 00:06] #23 closed

[2015-06-20 00:06] #21 closed

[2015-07-01 06:43] korun commented on #13
@renchap, so, you have integers in your base?
You can use something like:
[code]

[2015-07-13 22:09] andytcox opened #29 "Implicit even triggers do not work inside of callbacks"
I'm on Rails 4.1.1 and the following behavior seems a bit odd and I'm wondering if its a limitation in the way transitions are done, or possibly a bug(I may also be doing something wrong here)

My Model
[code]

Now some sample code:
[code]
**note** Assigning using `@event.start_date` and then using `#save` has the same effect

I expected this to change the status back to `pending`, but it never se

[2015-07-17 15:34] tesserakt opened #30 "Around save bug: record saved twice"
Hi all,

In Spree I have enabled transactions for the order state machine. Now with inventory units, whenever one is saved, the around_save block gets called and saves it again. It is quite strange, but I end up with 2 inventory_units with I only needed one. Have any of you seen anything similar?

[2015-07-17 15:55] seuros commented on #30
Can you provide a demo app ? It will make debugging much faster.

[2015-07-17 21:04] tesserakt commented on #30
@seuros I think this is a Spree bug actually around the way the InventoryUnitBuilder works

[2015-07-17 21:04] #30 closed

[2015-07-27 18:40] jiongye commented on #29
I am trying to switch the old state_machine gem to this gem because old one is not active anymore.
Our app use Rails 4.1.7 and Ruby 2.1.2, we also experience a similar problem with the observer. We use the "after_'event'" hook to trigger some callback a observer, but that hook never triggered.   It works fine with the old state_machine gem.

[2015-07-27 18:47] seuros commented on #29
@jiongye I think you should add : https://github.com/state-machines/state_machines-activemodel-observers

[2015-07-27 18:55] jiongye commented on #29
@seuros Thank you for pointing that out. That fixed my issue.

[2015-07-27 18:58] #29 closed

[2015-08-30 20:33] blackjackcf commented on #10
@rosskevin - It looks like a change that you might have to make. Paper Trail had the same issue: https://github.com/airblade/paper_trail/issues/416

[2015-08-30 21:13] rosskevin commented on #10
It looks like this is confirmed to be unrelated to state_machines. Even though state_machines will be somewhere in the call stack, it seems to be other gems or an AR related issue.

Agreed?

[2015-09-07 08:24] johannesluedke opened #32 "with_state on associated Model"
I have a model, say `Product`, with a `belongs_to` relation to `Manufacturer`. The Manufacturer Model has a state machine, and now

[code]

works, but

[code]

gives `NoMethodError: undefined method`with_state'`

For a has_many association I get `undefined method`with_state' for #<ActiveRecord::AssociationRelation []`

Note: This worked with the discontinued state_machine gem v.1.2.0

[2015-09-10 15:17] UnderpantsGnome opened #33 "Doesn't seem to respect conditional validations"
I have a model with a conditional validation

    validates :nda_accepted,
      presence: true,
      unless: :draft?

but if I try to transition it fails.

    => true

    StateMachines::InvalidTransition: Cannot transition state via :delete_draft from :draft (Reason(s): Nda accepted can't be blank)
    from /Users/mmoen/code/UnderpantsGnome/britehub-app/vendor/bundle/ruby/2.2.0/gems/state_mach

[2015-09-10 15:34] seuros commented on #33
If you could provide a sample app with sqlite3 so we can debug it quickly ?

[2015-09-10 15:46] UnderpantsGnome commented on #33
Here you go https://github.com/UnderpantsGnome/state_machine_validations

[2015-09-10 15:49] juank-pa commented on #33
I'm going to take a look at it

[2015-09-10 15:53] seuros commented on #33
Thank you @UnderpantsGnome @juank-pa

[2015-09-10 18:48] juank-pa commented on #33
The exception actually makes sense in this scenario. At start, validation is not being performed on creation because the state is `draft`. But once you change the state to `deleted`, validations are performed prior to updating the db and using the local data which has `deleted` as your state. The following example solves this:
[code]

[2015-09-10 19:24] juank-pa commented on #33
After pairing with @seuros we came up with a cleaner solution:

[code]

[2015-09-10 20:09] UnderpantsGnome commented on #33
@juank-pa @seuros oh nice! I didn't realize I could handle the validations that way. Guess I need to look at the active model docs.

Thanks for the help

[2015-09-10 20:09] #33 closed

[2015-11-24 10:11] DevilalDheer opened #34 "Initial state doesn't work some times"
Initial state doesn't work. Its throw validation error state is invalid.

ActiveRecord::RecordInvalid: Validation failed: State is invalid

[2015-11-24 10:21] seuros commented on #34
please provide a sample app that reproduce this bug.

[2015-11-25 07:47] #34 closed

[2015-12-30 20:52] iangreenleaf commented on #13
FWIW, I think this adapter could add some nice support for ActiveRecord::Enum that would allow it to coexist. In short, it could detect if there is an existing enum defined for the state machine column, and then:
* Not complain about method conflicts
* Either interface as strings *through* the ActiveRecord::Enum layer, or else detect and use the integer values directly.

This should effectively al

[2016-02-19 12:55] thiagoliof opened #38 "dynamic approach dont persist on database"
Guys, i dont know if this is my mistake or real bug.
someone can help me?

When i use dynamic approach, i geting one problem:
the state dont persisted on database.

i reproduce the issue in below repo
https://github.com/thiagoliof/testFlow
tks for all

[2016-03-08 02:01] nanowang opened #39 "support for ApplicationRecord in rails 5"
http://weblog.rubyonrails.org/2015/12/19/this-week-in-rails-rails-5-the-beta-awakens/

https://github.com/rails/rails/pull/22567

[2016-03-08 11:37] seuros commented on #39
ApplicationRecord is supported

[2016-03-08 12:33] #39 closed

[2016-03-12 19:11] jeffblake opened #40 "Get transition information in around_transition"
I am wanting to benchmark the transition and send to a metric service.. but I can't seem to get the destination state, only the current state.

[2016-03-12 19:44] seuros commented on #40
The transition (StateMachines:Transition) has the from and to name.

[2016-03-12 20:34] jeffblake commented on #40
Hmm, this is what I have:

[code]

The payment = payment (expected)
The transition = Proc

What am I doing wrong?

[2016-03-13 01:14] jeffblake commented on #40
Nevermind, I had to add a third argument.

[2016-03-13 01:14] #40 closed

[2016-03-28 22:56] connorshea opened #41 "0.4.0 release?"
Will 0.4.0 stable be released to RubyGems any time soon? Would be nice for Rails 5 support.

[2016-03-30 10:14] seuros commented on #41
yes, we will release it once rails 5 is released.

[2016-04-18 08:15] francisd commented on #7
here's a difference between state_machine and this gem (v0.4.0), in rspec when migrating over.  The initial state is not a symbol, but rather a string.
[code]

rspec:
[code]

this is confirmed to be a symbol in state_machine v1.2.0

[2016-04-21 01:31] axelson opened #43 "README should mention that this gem requires the state_machines gem"
I know it is fairly obvious, but I think it would be a useful note

[2016-04-28 11:12] km-digitalpatrioten commented on #38
Hi,

i face the same problem. When using the dynamic approach the state is written to the database but on load the state is always the initial state. Did you find a solution for that?

[2016-05-03 03:36] lulalala commented on #43
Since it is required implicitly would this still be an issue?

[2016-05-06 22:58] connorshea commented on #41
@seuros Rails 5.0.0.rc1 released today: https://github.com/rails/rails/releases/tag/v5.0.0.rc1

There shouldn't be any breaking changes between rc1 and stable.

[2016-05-07 01:55] pboling commented on #41
Would be great to release the new gem before Rails 5 GM is released so people can test against their Rails 5 upgrade branches more easily.

[2016-05-07 08:05] seuros commented on #41
@pboling @connorshea

[code]

[2016-05-07 08:06] seuros commented on #41
Please open issues if you see any deprecation warning.

[2016-05-07 15:53] connorshea commented on #41
Awesome! Thank you!

[2016-05-07 17:43] #41 closed

[2016-05-07 17:45] #43 closed

[2016-05-23 22:08] jonbwhite opened #45 "state_machines-activerecord has problems with minitest"
When I try to run tests using minitest, I get this hard failure that I cannot recover from:

[code]

I am able to run tests fine using ruby directly, but not when using minitest.

[2016-05-26 17:13] #45 closed

[2016-05-27 08:26] lulalala opened #46 "Link to doc in readme or move doc into readme"
The content of this page (http://www.rubydoc.info/github/state-machines/state_machines-activerecord/StateMachines/Integrations/ActiveRecord) is very important to developers, such as callback ordering.

I am wondering if we can have the readme link to this page, or better yet, move this documentation back into the readme.

[2016-05-31 20:31] farias-r7 commented on #38
It looks like if you create an object via new first then call save it will set the initial state and override any other attributes assigned to the unsaved model.

[code]

Will cause 'f' to be saved to the db with name set to nil.

If you do

[code]

It will set name to "chad".

[2016-06-14 20:07] mbulat commented on #10
@pragmaticivan Might you be using activerecord-import? I got the same warning after upgrading to the state-machines gem, which led me here. But the warning indicated a line where I was using activerecord-import. I upgraded activerecord-import and the warning is gone. activerecord import does use `serialized_attributes` https://github.com/zdennis/activerecord-import/blob/8ba94f7c05b2259f6447aaf8b01

[2016-07-28 16:13] mateuszgorniak opened #47 "Callbacks for Implicit Event Transitions"
Hi! I've noticed that callbacks for implicit event transitions don't work.
Example:
[code]

and now
[code]

but
[code]

Is there any solution to enable callbacks using normal assignment of the data (without using events)?

Gems:
Rails 5.0
state_machines-activerecord 0.4.0

[2016-08-26 08:11] mateuszgorniak commented on #47
Any news?

[2016-09-26 20:38] mateuszgorniak commented on #47
Any news? :-)

[2016-10-12 08:43] muzfuz opened #48 "Callbacks pass when they add errors but don't return false - is this desired behaviour?"
## Between `state machine` 1.1 and 1.2, the behaviour of callbacks on ActiveRecord objects was changed.  This behaviour has been carried over into the `state_machines` gem.

Given the following class:

[code]

These tests pass in `state_machine 1.1`, but fail in `state_machines` and  `state_machine 1.2`:

[code]

No error is raised, and the state is changed.
## Changing the callback fixes these fa

[2017-02-10 14:25] vikingo710 opened #49 "Model callbacks triggering twice when calling a transition"
[code]
[code]
two activation emails are being sent, because callbacks are triggering twice.
I checked this with debugger (pry)

[2017-02-10 17:28] #49 closed

[2017-02-10 17:30] vikingo710 commented on #49
Was due to

[2017-03-13 16:09] avatsaev opened #50 "Rspec support"
How do you test this with rspec. can't find any doc.

[2017-03-13 18:13] seuros commented on #50
https://github.com/state-machines/state_machines-rspec

[2017-03-13 18:13] #50 closed

[2017-05-01 21:50] jeffblake opened #52 "Add support for Rails 5.1"

[2017-05-02 00:05] rafaelfranca commented on #52
Added on master branch

[2017-05-02 00:05] #52 closed

[2017-05-02 00:39] rafaelfranca commented on #48
Yes. It is having the same bavior as Active Record callbacks. They only stop the execution if they return false, or since Rails 5.0 if you throw `:abort` symbol.

[2017-05-02 00:39] #48 closed

[2017-05-12 21:58] lane-flexe opened #54 "after_transition's and before_transition's `do` only executes a single method or first array entry"
If you want to call multiple methods before or after a transaction and specify an array as a key for the `do:` entry, for example...
[code]
...`foo` will be executed, but `bar` will not. This does not seem to be th case with an array passed to  the `on:` entry, for example...
[code]
...foo will be called in both cases.

[2017-05-12 22:21] lane-flexe commented on #54
Co-worker was unable to reproduce, investigating.

[2017-05-12 22:21] #54 closed

[2017-05-12 22:31] lane-flexe commented on #54
Issue was that my `:foo` call was returning false which prevented `:bar` from being called.

[2017-05-16 06:03] nir0 opened #55 "accessing AR attributes"
how do i implement such a case:

ticket with state `in_progress` receives transition `finish`. if ticket got `reviewer_id`, it should change state to `review` or `complete` if there is no reviewer... i tried to do this:
[code]
but it throws an error about there's no such a method for StateMachines

i tried to put this var into initialize block with no luck

[2017-05-16 15:38] nir0 commented on #55
solved with
[code]

[2017-05-16 15:38] #55 closed

[2017-05-19 18:19] robotfelix commented on #47
I'd love to know the answer too. It's not clear if the lack of callback firing is a bug or an intended feature!

[2017-06-06 18:25] kbennoune opened #56 "Wrong arity for initialize"
Just came across an issue when upgrading an app from rails 4.2 to rails 5.0.

ActiveRecord::Base has an arity of 2 but the new method defined in define_state_initializer only has an arity of 1.  An error is thrown when super is called from a descendent that uses the options argument a

ArgumentError "wrong number of arguments (given 2, expected 0..1)"

is thrown.

Thanks

[2017-06-14 07:47] mengqing opened #57 "scopes not referencing aliased table names"
say if I have the following associations
[code]
And if I do the following query
[code]

[2017-07-04 12:53] duleorlovic opened #58 "State driven validation are not performed for all states"
I noticed that if I have same validation on multiple states, some of them are not performed...
I will submit testcase

[2017-07-26 14:26] SirRawlins commented on #47
This is a big one for me. To my mind, the callbacks should be triggered regardless of the way in which the state changes, be it events or setting the state manually.

[2017-07-26 15:15] SirRawlins commented on #47
Doing a little hunting around and it seems that this might be 'by design' in the upstream `state_machines` library. The callbacks are triggered by the `Transition` class, which is dependant on an `event` being present,

https://github.com/state-machines/state_machines/blob/master/lib/state_machines/transition.rb#L2

When calling the simple `state=` setter it has a `from` and `to` available, but no

[2017-07-31 12:01] duleorlovic commented on #58
It seems that this is limitation in state machines and activerecord.
https://github.com/state-machines/state_machines-activerecord/blob/master/lib/state_machines/integrations/active_record.rb#L145
I would move explanation to README file

[2017-08-19 18:45] obie commented on #47
bump. ran into this just now

[2017-08-25 23:37] simi commented on #56
Can you see this problem with latest version?

[2017-09-13 16:13] lramamoo opened #63 "super() in initialize throws error"
Hi,
using ruby-2.2.2, rails 4.1.16.

When i try to call super() in the initialize method i am getting the following error:

ArgumentError:
       wrong number of arguments (1 for 0)

Below is the code:

[code]

[2017-09-13 17:25] rafaelfranca commented on #63
This is because super is expecting one argument and you are not passing any.

[2017-09-13 17:25] #63 closed

[2017-09-14 00:23] lramamoo commented on #63
[code]

[2017-09-25 19:17] xn commented on #47
Bump. Me too.

[2017-10-11 17:21] rowanjt commented on #56
I'm getting this issue with version 0.5.0.

[2017-10-11 17:39] rafaelfranca commented on #56
Can you please provide a sample application that reproduces the error?

[2017-10-11 18:54] rowanjt commented on #56
Can you tell me where the initialize method gets called that is defined by define_helper :instance ... located at state_machines-activerecord-0.5.0/lib/state_machines/integrations/active_record.rb @ line 452 ?
It seems to expect one arg for Rails 5 but it is being passed 2.

I can try to create a sample app to reproduce.

[2017-10-11 19:05] rowanjt commented on #56
Hmmm... Seems to be related to this other gem being used in our project...

protected_attributes_continued-1.3.0/lib/active_record/mass_assignment_security/persistence.rb:45:in `create'

which calls => object = new(attributes, options, &block)

when new just expects one argument

[2017-10-11 19:27] rafaelfranca commented on #56
Oh. That makes sense. So I'm closing this issue since it is not related with this project.

[2017-10-11 19:27] #56 closed

[2017-10-23 18:19] rafaelfranca commented on #63
What is the inheritance chain of your object? It seems you have one module that has an initialize without arguments.

[2017-10-31 04:40] #58 closed

[2017-11-06 14:02] RemyMaucourt opened #64 "specs fails when switching to state_machines-activerecord"
I started with state_machines, and wrote a few specs about my workflow with state_machines-rspec.

When I decided later to switch to state_machines-activerecord, all my spec failed, and I can't see why. Is there something I should know about the config of the rspec gem?

(I'm building a Rails 5.1 app)

[2017-11-06 16:28] rafaelfranca commented on #64
I'm not an user of RSpec so I recommend you to open this issue in the RSpec adapter since they would be more likely to work on it.

[2017-12-01 10:34] NielsKSchjoedt opened #65 "After upgrading to 0.4.1 (which uses state machines 0.5.0) I can't start my app"
See issue here: https://github.com/state-machines/state_machines/issues/62

I can see on the internet that others have this too:
https://github.com/gitlabhq/gitlabhq/issues/10445
https://gitlab.com/gitlab-org/gitlab-ce/issues/37361

Should we downgrade state_machines?

[2017-12-01 11:01] NielsKSchjoedt commented on #65
Upgrading to version 0.5.0 of state_machines-activerecord seems to solve the problem, I guess it was this change: https://github.com/state-machines/state_machines-activerecord/commit/d33d27d6bf2f158be9218b8846eade59752e9657 that made the difference

[2017-12-01 11:01] #65 closed

[2017-12-05 07:47] gagalago opened #66 "scope used on search application"
I have a controller that performs a search. To do that I have a lot of scopes chained together to obtain the right result. Because the user doesn't need to fill all scopes, when a scope is not used, the scope must be transparent.
Usually, I do for example `  scope :in_range, ->(min, max) { where(id: (min..max)) if min.present? && max.present? }`

what do you think if I modify https://github.com/st

[2018-01-01 04:53] krainboltgreene opened #68 "All state validations firing during initial state"
Model:

[code]

Resource:

[code]

[2018-01-01 05:04] krainboltgreene commented on #68
Nevermind: https://blog.bigbinary.com/2016/02/15/rails-5-makes-belong-to-association-required-by-default.html

[2018-01-01 05:04] #68 closed

[2018-02-12 15:43] lbrito1 opened #70 "Add support for Rails 5.2"

[2018-02-23 17:46] bobwhitelock commented on #47
I ran into this as well, and found it quite confusing. I can see it not being as simple though as just having `state=` work out what the event should be and triggering the corresponding callback, as it's possible there could be multiple events which transition between the same 2 states and there would be no way to know which is meant.

However the current behaviour of having multiple ways to chang

[2018-03-19 20:54] #70 closed

[2018-03-19 20:57] rafaelfranca commented on #46
I'm up to add a link to the official documentation in the README and also expand the README, but I don't think we should remove the class documentation too. Anyone up to open a PR?

[2018-03-20 01:55] lulalala commented on #46
@rafaelfranca Cool I'll do that, but I am not sure what you mean by removing the class documentation? (because I only intend to add stuff to README)

[2018-03-23 20:24] rafaelfranca commented on #46
You said move doc into readme. When I think about moving it is removing from one place and adding to other place.

[2018-03-26 14:10] lulalala commented on #46
@rafaelfranca Ah yes, I forgot. I was thinking if I just copy and paste it to readme, future edits need to maintain both copies of the document.

So how would you like to extend the readme?

[2018-03-26 14:27] #46 closed

[2018-05-25 19:50] mksm opened #73 "Pick initial state from DB schema"
In `db/schema.rb`:
[code]

I would expect that: `Foo.new.state` to be `active`. But without setting `initial: :active` in the state machine definition, it sets the value to `nil`.

[2018-07-11 11:03] axos88 opened #74 "Parameter to transition"
Hi,

I would love to see the ability to give parameters to transitions, something like:

[code]

[2018-08-20 07:41] aselder opened #75 "state_machines-activerecord 0.5.1 breaks attribute default with procs"
It appears that state_machines-activerecord 0.5.1 breaks defining attributes with default value determined by proc.

In 0.5.0, the proc would be evaluated at the instantiation of each object. With state_machines-activerecord 0.5.1, it appears the that proc is evaluated once at class definition time and the value is reused for all objects of that class

Given (in Rails 5.1.6):
[code]

With state_ma

[2018-09-18 18:00] aselder commented on #75
This could be caused by https://github.com/rails/rails/issues/33031

[2018-09-20 03:15] rafaelfranca commented on #75
If it is caused by that issue why do you think it was the updated to `state_machines-activerecord 0.5.1` that broke it?

[2018-09-20 03:17] rafaelfranca commented on #75
Ah, I see now. We are calling `columns_default` in 0.5.1

[2019-01-10 14:34] HoneyryderChuck opened #77 "defining associations in state block break"
I want a relation to only be available to the model when in a certain state:

[code]

This doesn't work however, with the following error:

[code]

The `if` error, however, doesn't come from my code, as shown above, but from the state_machine code, which introduces an `if` condition before calling rails's `has_many`.

I'm using rails 5.0, btw.

[2019-01-11 00:03] seuros commented on #77
Why do you want to remove the relation definition ?
ActiveRecord relations are meant to reflect the database relations. They will return an empty ActiveRecord::Associations::CollectionProxy if the query return nothing.

[2019-01-11 07:51] HoneyryderChuck commented on #77
The why is not important IMO. Shouldn't this be possible?

[2019-01-11 08:30] seuros commented on #77
It not possible unless Activerecord support conditional relationship.

[2019-01-11 09:08] #77 closed

[2019-03-13 22:05] mksm opened #80 "Scope doesn't select records with NULL state"
[code]

Running `Product.without_state(:deleted)` produces:
`SELECT "products".* FROM "products" WHERE ("products"."state" NOT IN ('deleted'))`

This doesn't select records with NULL `state`. Using `IS DISTINCT FROM 'deleted'` in Postgres selects all values not equal to `deleted` including NULLs.

Using v0.5.1 and Postgres 9.6

[2019-04-26 09:39] silvermind opened #83 "Support for activerecord 6.0 and rails 6.0"
are there any know issues with Rails 6?

[2019-04-26 13:23] rafaelfranca commented on #83
We already support it in the latest version.

[2019-04-26 13:23] #83 closed

[2019-06-12 04:23] brendon commented on #48
I noticed when I `throw(:abort)` within a `state_machines` `before_transition` callback, it complains that it is uncaught. I assume these callbacks don't operate the same as Rails 5 callbacks in AR models?

[2019-07-12 14:22] rdubigny commented on #74
@axos88 ,

You can achieve that with:

[code]

[2019-07-14 05:53] MityaLiu commented on #13
Since there's no answer to this question yet I'll propose my solution.
Enum will only define methods if they aren't defined yet, so let's define state machine first.
[code]

[2019-07-17 19:28] #74 closed

[2019-07-29 22:57] philihp commented on #47
What value would this have?

I think it would be best to **avoid setting state directly**. Instead, do as the documentation suggests, and name the event to trigger the transition:

[code]

The one example in the README that shows setting state directly has the following comment, indicating that this is **skipping** the state_machine

[code]

It feels like to me there are valid reasons for setting

[2019-08-17 08:17] optimum-dulopin opened #84 "rails 6 support"
seems to be an issue with rails 6
when I do bundle update, here what I get

Using state_machines-activerecord 0.0.0 (was 0.6.0)

[2019-08-20 14:38] rbq commented on #84
I wonder if there is a reason for 0.0.0 to exist. An error would probably be more useful than accidentally pulling in a version without functionality.

[2019-08-21 09:24] danielschlegel commented on #83
I cannot install gem because of active record dependency.
Bundler could not find compatible versions for gem "activemodel":
  In Gemfile:
    bootstrap_form was resolved to 4.2.0, which depends on
      activemodel (>= 5.0)

    rails (~> 6.0.0) was resolved to 6.0.0, which depends on
      activemodel (= 6.0.0)

    state_machines-activerecord (~> 0.6.0) was resolved to 0.6.0, which depends on

[2019-08-21 14:36] yuriihabrusiev commented on #84
I got the same issue.
Here are details:

[code]

The thing is, `state_machines-activerecord` worked well with `rails-6.0.0.rc1`

[2019-08-21 22:04] sunny commented on #84
This has been fixed on `master` in https://github.com/state-machines/state_machines-activemodel/pull/18.

Until a new version of `state_machines-activemodel` is released, a workaround is to add the following lines to your `Gemfile`:

[code]

[2019-08-21 22:09] seuros commented on #84
I'm releasing a state_machines-activemodel version that works with activemodel 6.x in few minutes.

[2019-08-21 22:27] #84 closed

[2019-08-21 22:38] seuros commented on #84
@rbq https://rubygems.org/gems/state_machines-activerecord/versions/0.0.0 is yanked now.

[2019-08-22 06:36] rbq commented on #84
@seuros Thanks a lot! :)

[2019-09-09 13:18] Tao-Galasse opened #85 "undefined after_commit callback"
It seems like the after_commit callback isn't supported, even if it appears in the doc.
I have to be sure the new state is persisted in database before executing some code, and after_transition doesn't assure me that.
I tried to define a block but I got a `NoMethodError: undefined method 'after_commit'`.

Am I doing it wrong, or is it not implemented with activerecord?

[2019-09-09 16:09] rafaelfranca commented on #85
`after_commit` is an Active Record method. This gem doesn't undefine or refedine that method. Can you provide an example application that reproduce the issue?

[2019-09-16 08:08] Tao-Galasse commented on #85
Sorry for the late reply.

I misunderstood the doc, I thought it was redefined, as I already saw it in other similar gems. To explain my issue, I was trying to perform a job in an `after_transition` block to send a notification ; but sometimes Redis was faster than postgres and doing `my_record.state` in the job returned the previous value. But I refactored it to add `transition.to` as a param of

[2019-09-16 08:08] #85 closed

[2019-11-22 07:08] codemilan opened #86 "State based method gives error on transition callbacks with syntax "after_transition <event/transition>, do: [:method]""
From below code :
[code]

[2019-11-22 11:15] seuros commented on #86
[code]
You method need to accept the transition.

Let me know if that fixed your issue.

[2019-11-26 07:54] codemilan commented on #86
@seuros yes it worked. Thank you.

[2019-11-26 07:56] #86 closed

[2019-11-26 09:53] codemilan commented on #47
Related to same issue: I'm doing below in model:
[code]
callback runs successfully and 'self.state_event' is set too, but event is not fired on save due to which state attr is not updated.

[2019-11-27 04:40] codemilan commented on #29
@andytcox @seuros Is there any way to trigger events in model callbacks, I'm working on an existing app that has much more creation/updation code on controllers/models for state_machined model. I would like to have triggering of events from one central place i.e. model callback based on some attributes value, below is the sample model code, I would like to get suggestion if I'm doing something wro

[2019-11-27 08:38] seuros commented on #29
I will need more details . The model is stripped from the code that code the error.

[2019-12-03 11:45] codemilan opened #87 "After transitions callback not working ?"
I have below state machine code in a model:

[code]
first two before and after transitions callbacks are called but after_transition on: :fire_answered and after_transition on: :fire_review are never called but when first "after_transition do |r, transition|" is removed then "after_transition on: :fire_answered and after_transition on: :fire_review" are called when I do below code:
[code]

[2019-12-04 11:21] codemilan commented on #87
Sorry my mistake on understanding.

[2019-12-04 11:21] #87 closed

[2020-02-18 09:03] #32 closed

[2020-08-28 09:11] stefano-sarioli opened #89 "New minor release for Ruby 2.7 fix"
Hi, I've seen that on master there is a commit that fixes the Ruby 2.7 warnings.

Is it possible to create a minor/bugfix release with those changes so that I can avoid depending to master inside my Gemfile?

Thanks a lot for your work on this gem 🙏

[2020-09-11 07:35] r72cccp opened #90 "Statemachine observer is not working as expected."
Hi! I'm create the test case: https://github.com/r72cccp/state_machine_observer_test

To replay this problem:
* run console:
[code]
* create the vehicle:
[code]
ignite:
[code]
=>
[code]
But, i'm expect to firing the methods `before_ignite`, `after_ignite`, as described [here#Observers](https://rubydoc.info/github/pluginaweek/state_machine/master/StateMachine/Integrations/ActiveRecord#Observers), b

[2020-09-11 11:57] seuros commented on #90
do you have 'state_machines-activemodel-observers' ?

[2020-09-11 15:45] r72cccp commented on #90
Thank you advance. Only i added `state_machines-activemodel-observers` gem to bundle, all expected methods fired!

[2020-09-11 15:45] #90 closed

[2020-09-11 15:46] seuros commented on #89
Yes, where is the PR ?

[2020-09-14 08:26] stefano-sarioli commented on #89
@seuros the PR is this #88, thank you.

[2020-10-01 03:49] stanhu commented on #89
Yes, would you mind publishing a new version? Thanks!

[2020-10-28 06:52] magni- commented on #89
Any updates regarding publishing a gem update? 🙇

[2020-11-06 15:25] NoahFisher commented on #89
(friendly bump) any updates on publishing this?

[2020-11-10 01:19] subashkc commented on #90
@seuros I don't think its mentioned in the[ rubydoc guides](https://www.rubydoc.info/github/state-machines/state_machines-activerecord/StateMachines/Integrations/ActiveRecord) anywhere, I only got it going after I found this issue.

[2020-11-10 08:24] seuros commented on #90
@subashkc , will update the docs, thanks.

[2020-11-19 08:26] concept47 opened #91 "off by one transition bug, when using two state machines at the same time."
Let me preface this by saying that this is probably pretty non-standard, but I discovered a bug that is pretty reproducible and  it occurs when we're trying to operate two state machines at the same time.

Here is an example app created with this command

[code]

Gemfile looks like this
[code]

[code]

Now run the following commands in the rails console in this order

[code]

here's what I get. No

[2020-12-04 10:13] spaghetticode commented on #89
having a new release would really help, thank you ❤️

[2020-12-26 21:19] espen commented on #89
#88 makes this gem work on Ruby 3.0.0. Thanks!

[2020-12-31 22:35] #89 closed

[2021-01-22 12:47] boardfish opened #93 "Transient attributes quirks"
I have a state machine on a class that inherits from `ActiveRecord::Base` that's something like this:

[code]

It's based on an attribute that's not persisted to the database - a transient attribute. I define this with an `attr_accessor` and set its initial value in an `after_initialize` hook. The initial value is figured out from the current state of the record.

This is a useful approach because

[2021-01-27 12:21] boardfish commented on #93
I've since changed approaches - I'm now using a [dynamic state machine](https://github.com/state-machines/state_machines#static--dynamic-definitions) as per the . Thus far, I think I'd recommend that, but I've got the following observations:

- The state machine is on the `Machine` class rather than the `object` that gets passed in to `Machine#new`. You'll need to allow the machine to recognize th

[2021-04-17 16:58] mlarraz opened #97 "Initializing with aliased state attribute doesn't work"
If you use `alias_attribute` on a state machine attribute, you can correctly use the aliased getters and setters. However, initializing a model with a hash containing the aliased attribute fails to set the state.

This is inconsistent with how attributes are supposed to work in ActiveModel.

A simple example:

[code]

[2021-06-22 21:23] juanviamonte commented on #80
@mksm did you find a work around this ?

[2021-06-23 07:10] seuros commented on #80
It not recommended to have a nil in the state. You could fix this by having a initial state. like `new`, `draft`, ect.

[2021-06-23 07:10] #80 closed

[2022-02-09 14:18] casaper opened #101 "Docs: Outdated rails code style"
- Models inherit `ApplicationRecord` -> not `ActiveRecord::Base`
- `validates_presence_of` -> `validates :attr_name, presence: true`

Just creating this issue so I can mention it in my little pr #100 filling it